//
   Created by Tommy on 2017/6/5.

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
link(rel='icon', type='image/png', sizes='16x16', href='plugins/images/favicon.png')
title Elite Hospital Admin Template - Hospital admin dashboard web app kit
link(href=baseDir+'/hospital/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href=baseDir+'/hospital/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css', rel='stylesheet')
link(href=baseDir+'/hospital/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css', rel='stylesheet')
link(href=baseDir+'/hospital/plugins/bower_components/morrisjs/morris.css', rel='stylesheet')
link(href=baseDir+'/hospital/css/animate.css', rel='stylesheet')
link(href=baseDir+'/hospital/css/style.min.css', rel='stylesheet')
link#theme(href=baseDir+'/hospital/css/colors/megna.css', rel='stylesheet')
| <!--[if lt IE 9]>
| <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
| <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
| <![endif]-->

