
script(src=baseDir+'/hospital/plugins/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
script(src=baseDir+'/hospital/bootstrap/dist/js/tether.min.js')
script(src=baseDir+'/hospital/bootstrap/dist/js/bootstrap.min.js')
script(src=baseDir+'/hospital/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js')
    // Menu Plugin JavaScript
script(src=baseDir+'/hospital/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')
    // slimscroll JavaScript
script(src=baseDir+'/hospital/js/jquery.slimscroll.js')
    // Wave Effects
script(src=baseDir+'/hospital/js/waves.js')
    // Morris JavaScript
script(src=baseDir+'/hospital/plugins/bower_components/raphael/raphael-min.js')
script(src=baseDir+'/hospital/plugins/bower_components/morrisjs/morris.js')
    // Sparkline chart JavaScript
script(src=baseDir+'/hospital/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js')
    // jQuery peity
script(src=baseDir+'/hospital/plugins/bower_components/peity/jquery.peity.min.js')
script(src=baseDir+'/hospital/plugins/bower_components/peity/jquery.peity.init.js')
    // Custom Theme JavaScript
script(src=baseDir+'/hospital/js/custom.min.js')
script(src=baseDir+'/hospital/js/dashboard1.js')
    // Style Switcher
script(src=baseDir+'/hospital/plugins/bower_components/styleswitcher/jQuery.style.switcher.js')
