//
   Created by Tommy on 2017/5/29.

script(type='text/javascript', src=baseDir+'/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
script(type='text/javascript', src=baseDir+'/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src=baseDir+'/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript', src=baseDir+'/adminlte/dist/js/app.min.js')
script(type='text/javascript', src=baseDir+'/adminlte/plugins/iCheck/icheck.min.js')