//
   Created by Tommy on 2017/5/29.

aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src=baseDir+'/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
            .pull-left.info
                p Alexander Pierces
                a(href='#')
                    i.fa.fa-circle.text-success
                    | Online
        form(action='#',method='get').sidebar-form
            .input-group
                input(type='text', name='q',placeholder='Search...').form-control
                span.input-group-btn
                    button(type='submit', name='search')#search-btn.btn.btn-flat
                        i.fa-fa-search
        ul.sidebar-menu
            li.header
                | Main Navigation
            li
                a(href=baseDir+'/disease')
                    i.fa.fa-th
                    span
                        | 查詢疾病
                    span.pull-right-container
                        small.label.pull-right.bg-green
                            | Hot
            li
                a(href=baseDir+'/users')
                    i.fa.fa-th
                    span
                        | Users
                    span.pull-right-container
                        small.label.pull-right.bg-green
                            | Hot
            li
                a(href=baseDir + '/personalRecord')
                    i.fa.fa-th
                    span
                        | Personal Record
                    span.pull-right-container
                        small.label.pull-right.bg-green
                            | Hot
            li
                a(href=baseDir + '/hospitalRegisteredRecord')
                    i.fa.fa-th
                    span
                        | Medical Record
                    span.pull-right-container
                        small.label.pull-right.bg-green
                            | Hot