//
   Created by Karen on 2017/6/11.
extends ../adminlte/base
block content
    section.content-header
        h1
            | Blank Page
            small it all starts here
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    | Level
            li.active Here
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Comment
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus

            .box-body
                form(role='form',method='post' action=baseDir+'/comment/add')
                    .row
                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                    .alert.alert-danger.alert-dismissable
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert!
                                        | !{messages.msg_error}
                                .form-group
                                    label
                                        | 姓名
                                    input(type='text',name='name',placeholder='Enter 張銜淳', autofocus).form-control
                                .form-group
                                    label
                                        | 評論
                                    textarea(name='comment',placeholder='Enter 天大地大大帝大').form-control
                                .form-group
                                    input(type='hidden',name='doctor_id',value='#{doctor_id}').form-control
                                .form-group
                                    label
                                        | 評分
                                    input(type='number',name='rating',placeholder='Enter 1~5', min='1', max='5').form-control
                            .box-footer
                                button(type='submit').btn.btn-primary
                                    | Submit
                                a(href=baseDir+'/comment/#{doctor_id}').btn.btn-primary.pull-right
                                    | Back
